.layout {
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100dvh;
	overflow: hidden;
}

.motion {
	height: 100%;
}

.backgroundImage {
	position: fixed;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	background: linear-gradient(#16190f20, #19303a62);
}
